.video__iframes {
    margin-top: 50px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    list-style: none;
}

.video__iframes:last-child {
    margin-right: 0;
}