.section-title_theme_dark {
    margin: 90px auto 20px !important;
    color: #fff;
    text-align: center;
}

/* I used !important because certain elements of my css for _theme_dark 
were being overwritten by the rules of the css files they were being 
imported to. If there is a better way to do this please let me know. */