.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh; 
    min-height: 600px;
    max-height: 756px;
    display: flex;
    background-color: #F2F2F2;
    position: relative;
    overflow: hidden;
    /* parameters for the header section */
}

.logo__img_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    width: 154px;
    height:31px;
    z-index: 1;

}

.header-title {
    width:730px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: auto 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}

.header-subtitle {
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    z-index: 1;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__link {
    color: #2F80ED;
    text-decoration: none;
}
.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 1;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
}

.two-columns {
    width: 80%;
    min-width: 784px;
    margin: 100px auto 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.two-column__brief {
    color: #2F80ED;
    margin: 0;
    flex-basis: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.two-column__main-text{
    margin-left: 50px;
    min-width: 784px;
}

.two-column__paragraph {
    margin-bottom: 30px;
    margin-top: 0px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-column__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits-title {
    display: flex;
    justify-content: center;
    margin: 100px auto 20px;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.digits-subtitle {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0px auto 60px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px auto 100px;
    list-style: none;
}

.table__cell {
    flex-basis: 250px;
    vertical-align: top;
}

.table__heading {
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.feynman {
    width: 100%;
    height: 790px;
    background-color: #F2F2F2;
    position: relative;
}
.feynman__title {
    display: flex;
    margin: 100px auto 70px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    width: 775px;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 100px;

}

.feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 70px auto;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 70px;
}

.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    bottom: 63px;
    left: 1738px;
    position: absolute;
}

.feynman__image {
    background-image: url(../images/feynman.png);
    width: 867px;
    height: 637px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0px;
}

.kaufman {
    background-color: #1f1f1f;
    height: 800px;
    margin: 0;
    display: flow-root;
    position: relative;
    width: 100%;
    z-index: -2;
    overflow: hidden;
}

.kaufman-title_theme_dark {
    display: flex;
    justify-content: center;
    margin: 90px auto 20px;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.kaufman-subtitle_theme_dark {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0px auto 80px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}

.table_theme_dark {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 0px auto 90px;
    justify-content: space-between;
    list-style: none;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
    flex-basis: 200px;
    color: white;
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.kaufman__triangle {
    position: absolute;
    bottom: -222px;
    right: -100px;
    z-index: -1;
}


.footer {
    background-color: #1f1f1f;
    min-height: 350px;
    position: relative;
    color: #fff;
}

.footer__columns {
    display: flex;
    flex-basis: 711px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 60px auto 40px;
    position: absolute;
    left: 96px;
}

.footer__column_content_copyright {
    padding: 93px 0px;
}
.logo__img_place_footer {
    position: relative;
    top: -93px;
}

.footer__author {
    position: relative;
    bottom: -75px; 
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column_content_info {
    padding: 57.5px 0px;
    position: relative;
    right: -390px;
}

.footer__column-heading {
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -60px;
}

.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    list-style: none;
    padding-left: 0;
}

.footer__column-link {
    color: #fff;
    text-decoration: none;
}

.footer__column_content_social {
    padding: 72px 0px;
}

.footer__social-icon {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    list-style: none;
    padding-left: 0;
}

.footer__social-icon-link {
    color: #fff;
    text-decoration: none;
}